# File lingkungan
config/.env

# File sementara
temp/*
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
*.log

# File virtual environment
venv/
.env/
env/

# File cache dan build
*.egg-info/
dist/
build/
*.cache
.pytest_cache/
